<!-- index.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">

    <div>
        <h2><%= @post.title %> </h2>
        <p>
        Author: <%= @post.author %><br/>
        Description: <%=  @post.description %>
        </p>
    </div>

		<div>
				<h2>Comments:</h2>
				<p>
				<% if @comments.length >0 %>

				<% @comments.each do |comment| %>
				<%= comment.name %>
				<%= comment.description %>
				</p>

		</div>

  			<% end %>
			<% else %>

		<% end %>

		</div>
	</div>
</div>


